// GLOBAL SELECTOR
*{
    margin: 0%;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
}

// VARIABLE DECLARATION
$blue: #0e80b1;
$chatblue: #656bc0;
$red: #ea0038;
$lightbluebg: #d2e2e7; 
$shadblue: #667781;
$bg: #f2f5f8;
$white: #fff;
$text: #3f444e;
$green: rgb(16, 196, 16);
$shad: 4px 4px 16px -2px #0004;

// MIXINS
@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin overlay() {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;  
}

@mixin profile_image(){
    width: 3rem;
    border-radius: 50%;
    box-shadow: $shad;
    padding: 0.2rem;
}

@mixin small(){
    font-size: small;
    font-weight: 300;
}

@mixin badge(){
    color: $blue;
    padding: 0.1rem 0.4rem;
    border-radius: 1rem;
    background-color: lighten($blue, 50);
    @include small();
}

@mixin nav_icon(){
    font-size: 1rem;
    color: $text;
    padding: .8rem;
    border-radius: 2rem 2rem;
    &:hover{
        background-color: lighten($lightbluebg, 10);
        cursor: pointer;
    }
}

body{
    background-color: lighten($lightbluebg, 10);

    .main-body{

        .body-wrap{
            height:98vh; 
            overflow-y: scroll;
            @include flex();
            align-items: flex-start;
            padding: 1rem;
            flex-wrap: wrap;
            gap: 1rem;

            .aside-left{
                height:100vh; 
                overflow-y: scroll;
                border-right: 1px solid lighten($text, 60);
                border-left: 1px solid lighten($text, 60);
                width: 30%;

                .nav-top{
                    padding: 1rem;
                    background-color: $white;
                    // border-bottom: 1px solid lighten($text, 50);

                    .wrap-top{
                        @include flex();
                        justify-content: space-between;

                        .profile-image{
                            @include profile_image();
                            cursor: pointer;
                        }
                        .nav-icons{
                            @include flex();
                            gap: 0.5rem;
                            .nav-icon{
                                @include nav_icon();
                            }
                        }
                    }
                }
                .nav-mid{
                    padding: 1rem;

                    .wrap-mid{
                        .archived{
                            color: $text;
                            cursor: pointer;
                            @include flex();
                            justify-content: space-between;
                            .archive-icon{
                                @include flex();
                                gap: 1rem;

                                .archive-btn{}
                            }
                            .archive-count{
                                @include badge();
                            }
                        }
                    }
                }
                .nav-bottom{
                    padding: 1rem;
                    background-color: $white;
                    
                    .wrap-bottom{
    
                        .friend-div{
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;
                            border-bottom: 1px solid lighten($text, 50);
                            padding-bottom: 0.5rem;
                            
                            .name-image{
                                @include flex();
                                gap: 1rem;
                                .friend-image{
                                    @include profile_image();
                                }
                                .left-cover{
    
                                    .friend-name{
                                        color: $text;
                                        font-weight: 400;
                                    }
                                    
                                    .friend-message{
                                        @include flex();
                                        justify-content: flex-start;
                                        gap: .5rem;
                                        color: $text;
            
                                        .sent-message, .fa-check-double{
                                            font-size: small;
                                            font-weight: 300;
                                        }
                                    }
                                } 
                            }
                            
                            .friend-details{
                                @include flex();
                                justify-content: space-between;
                                gap: 7.5rem;
                                
                                
                                .right-cover{
                                    @include flex();
                                    flex-direction: column;
                                    gap: .2rem;
                                    
                                    .message-time{
                                        font-size: small;
                                        font-weight: 300;
                                    }
                                    .message-count{
                                        @include badge();
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .aside-right{
                height:100vh; 
                overflow-y: scroll;
                width: 65%;
                border-left: 1px solid lighten($text, 60);
                border-right: 1px solid lighten($text, 60);

                .aside-top{
                    background-color: $white;
                    padding: 1rem;

                    .user-details{
                        @include flex();
                        justify-content: space-between;
                        gap: 1rem;

                        .name-image{
                            @include flex();
                            gap: 1rem;
                            
                            .top-image{
                                @include profile_image();
                            }
                            .name-seen{
    
                                .user-name{
                                    font-size: 1.5rem;
                                    font-weight: 400; 
                                    color: $text;
                                }
                                .last-seen{
                                    @include flex();
                                    gap: 0.5rem;
                                    @include small();
    
                                    .user-seen{
                                        @include small();
                                        color: $text;
                                    }
                                }
                            }
                        }
                        .name-icons{
                            @include flex();
                            justify-content: space-between;

                            .nav-icons{
                                @include flex();
                                gap: 0.5rem;
    
                                .nav-icon{
                                    @include nav_icon();
                                }
                            }
                        }
                    }
                }
                .aside-mid{
                    height:78vh; 
                    overflow-y: scroll;
                    padding: 1rem;
                    background-color: lighten($blue, 55);
                    
                    .mid-wrap{

                        .cover-chat-wrap{
                            @include flex();
                            justify-content: flex-start;
                            flex-direction: column;
                            max-width: 50%;

                            .chat-wrap{
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                background-color:$white;
                                padding: .4rem;
                                border-radius: .3rem;
                                margin-bottom: .5rem;
                                
                                
                                .chat-message{
                                    font-size: .95rem;
                                    color: darken($chatblue, 40);
                                }
                                .chat-time{
                                    font-size:smaller;
                                }
                                .chat-owner{
                                    display: none;
                                }
                            }
                            // FOR THE "YOU" PERSON
                            .chat-wrap-sub{
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-end;
                                max-width: 50%;
                                background-color:$white;
                                padding: .4rem;
                                border-radius: .3rem;
                                margin-bottom: .5rem;
                                color: $white;
                            }
                        }
                    }
                }
                .aside-bottom{
                    padding: 1rem;
                    background-color: $white;

                    .bottom-wrap{
                        gap: 1rem;
                        @include flex();
                        justify-content:space-between;
                        .text-area{
                            display: flex;
                            align-items: center;
                            width: 100%; 
                            gap: 1rem;

                            .input-icon{
                                font-size: 1.2rem;
                                color: $text;
                                padding: .5rem;
                                border-radius: 2rem 2rem;
                                &:hover{
                                    background-color: lighten($lightbluebg, 10);
                                    cursor: pointer;
                                    transform: scale(1.2);
                                }
                            }
                        }

                        .text-area input{
                            width: 90%;
                            padding: 1rem 2rem;
                            border-radius: .5rem;
                            background-color: lighten($blue, 60);
                            &:focus{
                                background-color: lighten($blue, 60);
                                border: 1px solid $lightbluebg;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}