.course-btn{
    padding: 1rem 2rem;
    background: #f00;
    margin: 1rem 0;
    border-radius: 2rem;
    cursor: pointer;
    color: #f9fafe;
    width: max-content;
    font-weight: 700;
    position: relative;
    /* overflow: hidden; */
}
.course-btn::after{
    background-color: #333;
    color: #f9fafe;
    width: max-content;
    opacity: 0;
    content: "Buy this Course!";
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all .27s ease-in-out .25s;
}
.course-btn:hover::after{
    opacity: 1;
    transition: all .27s ease-in-out .25s;
}